﻿@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.35;
  color: #333333;
  background-color: #fff;
}
blockquote {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 25px;
}
p.preamble {
   EditMenuName: Preamble;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-top: 0;
}
p.lead-text{
    EditMenuName: Lead text; 
    font-size: 20px;
    color: #787878;
    line-height: 1.4;
    margin-top: 0;
    font-weight: 300;
}
p.helper {
    EditMenuName: Helper; 
    color: #787878;
}
h2
{
   EditMenuTitle: Heading Styles;
   EditMenuName: H2;
   font-size: 39px;
   line-height: 1.25;
    margin-top: 25px;
    margin-bottom: 12.5px;
    font-weight: 600;
}      
h3
{
   EditMenuName: H3;
   font-size: 30px;
   line-height: 1.25;
    margin-top: 25px;
    margin-bottom: 12.5px;
    font-weight: 600;
}		
h4
{
   EditMenuName: H4;
    font-size: 20px;
    line-height: 1.22222222;
        margin-top: 12.5px;
    margin-bottom: 12.5px;
        font-weight: 600;
}		
img.left-aligned
{
   EditMenuTitle: Images;
   EditMenuName: Left float;
    max-width: 50%;
    float: left;
    margin-right: 30px;
}
img.right-aligned
{
   EditMenuName: Right float;
    max-width: 50%;
    float: right;
    margin-left: 30px;
}
img.full-width.img-responsive
{
   EditMenuName: Responsive fullwidth;
}
a.btn-type-1, a.btn-type-2, a.btn-type-3 {
       text-decoration: none;
           display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
        white-space: nowrap;
    padding: 6px 12px;
        line-height: 1.475;
    border-radius: 4px;
    -webkit-user-select: none;
        font-size: 16px;
    font-weight: 300;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 28px;
    padding-right: 28px;
    text-transform: uppercase;
    border: none;
}
a.btn-type-1 {
   EditMenuTitle: Button links;
   EditMenuName: Gray button;
       color: #fff !important;
    background-color: #242526 !important;
    border-color: #1f2021 !important;
}
a.btn-type-2 {
   EditMenuName: Purple button;
    color: #fff !important;
    background-color: #550f41 !important;
    border-color: #37092a !important;
}
a.btn-type-3 {
   EditMenuName: Green button;
    color: #fff !important;
    background-color: #449d44 !important;
    border-color: #398439 !important;
}
