﻿@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.35;
  color: #333333;
  background-color: #fff;
}
blockquote {
  font-size: 22px;
  font-weight: 300;
  margin: 0 0 25px;
}
h3
{
   EditMenuName: Header;
   font-size: 17px;
   line-height: 1.25;
    margin-top: 4px;
    margin-bottom: 12.5px;
    font-weight: 600;
}		
