﻿@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.35;
  color: #333333;
  background-color: #fff;
}
h3
{
   EditMenuName: Header;
   font-size: 17px;
   line-height: 1.25;
    margin-top: 4px;
    margin-bottom: 12.5px;
    font-weight: 600;
}		
h4
{
   EditMenuName: Time;
    font-size: 17px;
    line-height: 1.22222222;
        margin-top: 12.5px;
    margin-bottom: 12.5px;
        font-weight: 300;
}		
