@media print {
  @import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
  /*.footer footer .center, .footer footer .col-sm-pull-5, .newsletter, #navbar, #searchbar, .navbar-header button, iframe, .carousel-indicators, .carousel-control, .booking, .full-bg .action, .price + p a,
	.products  {
		display: none;
	}*/
  .footer footer .center,
  .footer footer .col-sm-pull-5,
  .newsletter,
  #navbar,
  #searchbar,
  .navbar-header button,
  iframe,
  .carousel-indicators,
  .carousel-control,
  .booking,
  .full-bg .action,
  .price + p a,
  .btn.print {
    display: none;
  }
  body {
    background: white;
    font-size: 12pt;
  }
  .navbar-brand:after {
    content: url('/gui/images/testhr-logotype-rgb.png');
    margin-bottom: 40px;
    margin-top: 40px;
    display: block;
  }
  .navbar-brand img {
    display: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Open Sans", sans-serif;
  }
  a {
    text-decoration: none !important;
    color: #000;
  }
  .container {
    width: auto;
    margin: 0 8%;
    padding: 0;
    border: 0;
    float: none !important;
    color: black;
    background: transparent none;
  }
  .main-article a:link:after,
  .main-article a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  .main-article a[href^="/"]:after {
    content: " (http://www.testhr.se" attr(href) ") ";
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  img[alt]:after {
    content: "";
  }
  .quote img {
    width: 20%;
    float: left;
  }
  .quote .col-md-6 {
    float: left;
    width: 80%;
  }
  .carousel-inner .left-col img {
    width: 20%;
    float: left;
  }
  .carousel-inner .right-col {
    width: 75%;
    float: left;
    padding-left: 5%;
    margin-top: 0;
    padding-top: 0;
  }
  .carousel-inner .right-col h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .carousel-inner a {
    visibility: hidden;
  }
  .carousel-inner a:link:after {
    visibility: visible;
    display: block;
    margin-top: -30px;
    color: #000;
    content: " " attr(href) " ";
  }
  .schedule {
    list-style-type: none;
    padding-left: 140px;
  }
  .schedule h4 {
    margin-top: 30px;
    margin-bottom: 14px;
    position: relative;
    bottom: -22px;
    left: -140px;
    margin: 0;
    display: inline;
  }
  .schedule h3 {
    margin-top: 0;
  }
  .partners ul img {
    width: 27%;
    margin: 0 3%;
    float: left;
  }
  .information .col-md-4:nth-child(2) .lead-text {
    margin-top: 30px;
  }
  .wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .wrapper .wrapper {
    margin-bottom: 0;
    margin-top: 0;
  }
  .social-share img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 0;
  }
  .quote,
  .carousel-wrapper,
  .partners,
  .footer footer {
    padding-top: 40px;
    display: block;
  }
  .quote:after,
  .carousel-wrapper:after,
  .partners:after,
  .footer footer:after,
  .quote:before,
  .carousel-wrapper:before,
  .partners:before,
  .footer footer:before {
    content: " ";
    display: table;
  }
  .quote:after,
  .carousel-wrapper:after,
  .partners:after,
  .footer footer:after {
    clear: both;
  }
  .alt-push.full-bg .push-row a {
    height: auto !important;
  }
  .eh > li,
  .eh > .top,
  .full-bg.alt-push .row > div a {
    height: auto !important;
  }
}
